<h1>This is the landing page</h1>

<p>  <a href = "login"> Login Page </a> </p>
<p>  <a href = "main"> User's Main Page </a> </p>
<p>  <a href = "friends"> Friends Page </a> </p>
<p>  <a href = "album"> Albums Page </a> </p>
