<section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2><%= User.where(id: params[:id]).first.first_name%>'s Albums</h2>
                    <hr class="small">
                    <div class="row">

                      <table>
                          <tbody>
                            <% if @albums.blank? && @galleries.blank? %>
                              <p> This friend doesn't have any albums yet </p>

                            <% else %>
                              <div>
                                <p>Albums</p>
                                <% if !@albums.blank? %>
                                  <% @albums.each do |album| %>
                                  <!-- %= render :layout =>'layouts/listbackground' do % -->
                                  <tr>
                                    <%= link_to album.album_name, album, :style=>'color: black;' %>
                                  </tr>
                                  <% end %>
                                <% end %>
                              </div>

                              <div>
                                <p>Galleries</p>
                                <% if !@galleries_viewonly.blank? %>
                                  <% @galleries_viewonly.each do |gallery| %>
                                  <tr>
                                    <%= link_to gallery.album_name, gallery, :style=>'color: black;' %>
                                  </tr>
                                  <% end %>
                                <% end %>
                                <% if !@galleries_upload.blank? %>
                                  <% @galleries_upload.each do |gallery| %>
                                  <tr>
                                    <%= link_to gallery.last, gallery.first, :style=>'color: black;' %>
                                  </tr>
                                  <% end %>
                                <% end %>
                              </div>
                            <% end %>

                          </tbody>
                        </table>

                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">View More Items</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
