    <section id="portfolio" class="primary">
        <div class="text-vertical-center">
            <h1>Mapperies</h1>
            <h3>See where you have traveled!</h3>
            <br>
        <%if signed_in? %>
            <%= button_to "Logout", "sign_out" ,{class: "btn btn-dark btn-lg", :method => :delete}%>
        <%else%>
            <!--<a href="/login" class="btn btn-dark btn-lg">Login</a>-->
            <%= render partial: '/sessions/form' %>
        <% end %>
        </div>
    </section>
