
html, body { height: 100%;
    margin: 0;
    padding: 0;

}
#map {
  height: 300px;
  background-color: purple;
  width: 300px;
  overflow:visible;
  }
#menu {position: static; top: 0px; left: 0px;}
