<div id="change_album_name">
  <button id="edit_name" onclick="edit()">Edit</button>
</div>
</div>
<div class="col-md-2">
  <%= render "upload_button" unless @view_only%>
  <%= button_tag(type: 'button', class: "btn btn-warning", "data-toggle"=> "modal", "data-target"=> "#change_privacy") do %>
      Privacy Settings
  <% end %>
</div>
