
<% if @albums.blank? %>
<p>No albums yet </p>
<p> <%= current_user.id %> </p>
<% else %>
  <% @albums.each do |album| %>
  <!--%= render :layout =>'layouts/listbackground' do %-->
  <tr>
    <td class="col-sm-2" id="album_name_listing"><%= link_to album.last, album.first, :style=>'color: black;'%></td>
    <td><%= link_to 'Destroy', album.first, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
