
<% if @albums.blank? %>
<p>No albums yet </p>
<p> <%= current_user.id %> </p>
<% else %>
  <% @albums.each do |album| %>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
        <%=image_tag sample_photo(album.id).image.url(:med), id:"image"%>
        <div class="caption">
          <p class="col-sm-2" id="album_name_listing"><%= link_to album.last, album.first, :style=>'color: black;'%></p>
          <p><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
