  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#photo_upload" aria-expanded="false" aria-controls="photo_upload" id="photo-upload-toggle">
    Upload 
  </button>
