

<section id="portfolio" class="primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-lg-offset-1">
                    <div class="row">
                      <div class="albums_header">
                        <br/>
                        <%= button_tag 'Create New Album', class:"btn btn-primary col-md-offset-11 col-sm-offset-10",  url:{action: "create", controller:"albums"}, remote:true%>
                        <h2 class="text-center">My Albums</h2>
                      </div>
                    </div>
                    <hr class="small">
                    <div class="row">
                      <%= render "index" %>
                    </div>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <div id="product-modal" class="modal fade"></div>
