



        <div class="container-fluid">
            <div class = "row">
              <div class = "col-md-2 col-md-offset-10">
                <%= button_to 'Create New Album',  url:{action: "create", controller:"albums"}, remote:true, class:"new_album_button"%>
              </div>
            </div>
            <section id="portfolio" class="primary">
              <div class="row">
                  <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Albums</h2>
                    <hr class="small">
                    <div class="row">
                      <%= render "index" %>
                    </div>
                  </div>
                  <!-- /.col-lg-10 -->
              </div>
            </section>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    <div id="product-modal" class="modal fade"></div>
