// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables";
@import "bootstrap/mixins";
table{
  background-color: #afd8fb !important;
  color: black;
}

#album_name{
  text-align: center;
  font-weight: bold;
  font-family: "Courier New";
}

#album_name_listing{
  text-align: left;
  font-weight: bold;
  font-size: small;
  color: black;
  font-family: "Courier New";
}

#photo_container{
  padding-top: 50px;
  padding-right: 50px;
  .picture{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}
#upload_div{
  padding-top: 50px;
  padding-bottom:50px;
  #photo_upload{
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: gray;
  }
}
#photo-upload-toggle{
  padding-left: 15px;
  padding-right: 15px;
}
