// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables";
@import "bootstrap/mixins";
table{
  background-color: #afd8fb !important;
  color: black;
}

.no_album_header{
  text-align: center;
  font-weight: bold;
}
#album_name{
  text-align: center;
  font-weight: bold;
}

.empty_album_image{
  width: 350px;
}

#album_name_listing{
  text-align: left;
  font-weight: bold;
  font-size: small;
  color: black;
  font-family: "Courier New";
}

#placeholder, #album_image{
  width: 100px;
}
#album_name_listing{
  color:black;
  text-align: center;
}
#album_name_listing:hover{
  color:red;
}

.overflow {
  max-height: 3.3em;  /* 4 lines as line-height is 1.1 */
  height: 3.3em;      /* making it a multiple allows usage of overflow */
  /**
   * Required properties to achieve text-overflow
   */
  overflow: hidden;
}


#photo_container{
  padding-top: 50px;
  padding-right: 50px;
  .picture{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

#photo_upload{
  padding-top:10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#photo_upload{
  padding-left: 15px;
  padding-right: 15px;
}
