@import "bootstrap/variables";
@import "bootstrap/mixins";

.accept-decline-container{
  .btn{
    display: inline-block;
    width: 60px;
  }
}




#friend-request-toggle{
  font-family: "sans-serif";
  background-color: #FF9933;
  color: black;
}
