@import "bootstrap/variables";
@import "bootstrap/mixins";

#friend-accept{
  padding: 10px 20px;
  display: block;
  width: 130px;
  margin: 10px auto 0px auto;
}

#friend-decline{
  padding: 10px 20px;
  display: block;
  width: 130px;
  margin: 10px auto 0px auto;
}

#friend-request-toggle{
  font-family: "sans-serif";
  background-color: #FF9933;
  color: black;
}
