// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main_header{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Courier New";
}
