 <html>
   <head>
   </head>
   <body>
     <div id="content">
     <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Mapperies</a>
            </li>
            <li>
                <a href="account/settings" onclick = $("#menu-close").click(); >Account</a>
            </li>
            <li>
                <a href="#map" onclick = $("#menu-close").click(); >Landing Page</a>
            </li>
            <li>

                <a href="/login" onclick = $("#menu-close").click(); >Login/Logout</a>
            </li>
            <li>
                <a href="/albums" onclick = $("#menu-close").click(); >Albums</a>
            </li>
            <li>
                <a href="/friends" onclick = $("#menu-close").click(); >Friends</a>

            </li>
        </ul>
    </nav>
       <%= yield %>
     </div>
   </body>
 </html>