 <html>
   <head>
   </head>
   <body>

     <div id="content">

     <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Mapperies</a>
            </li>
            <li>
                <a href="account/settings" onclick = $("#menu-close").click(); >Account</a>
            </li>
           <!-- <li>
                <a href="/map" onclick = $("#menu-close").click(); >Landing Page</a>
            </li>-->
            <li>
                <a href="/albums" onclick = $("#menu-close").click(); >Albums</a>
            </li>
            <li>
                <a href="/friends" onclick = $("#menu-close").click(); >Friends</a>

            </li>
            <li>

                <a href="/login" onclick = $("#menu-close").click(); >Login/Logout</a>
            </li>
        </ul>
    </nav>
       <%= yield %>
     </div>

     <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->

    <%= javascript_include_tag "/js/jquery.js" %>

    <%= javascript_include_tag "/js/bootstrap.min.js" %>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
   </body>
 </html>